@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  <h1>Home Page</h1>
</div>



<script>
    //$(function () {
    //    $.get("http://localhost:65149/api/list/StockList", function (res) {
    //        debugger;
    //    });
    //});
</script>
